body {
  background-color: var(--bg-color);
  width: 100%;
}

/* Cabeçalho */
.cabeçalho {
  border: 6px solid #333;
  background: linear-gradient(to right,
  rgba(144, 224, 239, 0.8), /* Azul claro */
  rgba(176, 224, 230, 0.8), /* Azul pastel */
  rgba(255, 192, 203, 0.8), /* Rosa claro */
  rgba(255, 228, 225, 0.8)  /* Rosa pastel */
  );
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabeçalho__butoes {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cabeçalho h1 {
  font-family: "Dancing Script", cursive;
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 1.9em;
  color: #333;
  font-weight: bold;

}

.cabeçalho h1 img {
  margin-right: 10px;
  height: 40px;
}

/* Navegação */
nav {
  display: flex;
  gap: 40px;
}

.butoes {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid #555;
  border-radius: 5px;
  user-select: none;
  text-decoration: none;
  color: #555;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.butoes img {
  margin-right: 20px;
  height: 20px;
  width: auto;
}

.butoes:hover {
  background-color: rgba(255, 192, 203, 0.2); /* Rosa claro */
  color: #333;
  border-color: #555;
}
/* Estilo básico para a FAQ */
.faq {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.accordion {
  width: 100%;
}

.accordion__item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.accordion__item:hover {
  background-color: #ff6f61;
  color: #fff;
}

.accordion__content {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion__content p {
  margin: 0;
  font-size: 1em;
}
